@import 'https://fonts.googleapis.com/css?family=Lobster|Quicksand|Cutive+Mono';

body {
  width: 600px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Quicksand', sans-serif;
}

@media(max-width: 600px) {
  body {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
  }
}

a {
  text-decoration: none;
  color: #000;
}

a:visited {
  color: #000;
}

a:hover {
  color: #C0C0C0;
}

p {
  line-height: 1.5;
  text-align: justify;
  margin: 0.5em 0 0.8em 0;
}

section#header {
  margin: 40px 0;
}

section#header h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 2em;
  margin: 0 0 9px 0;
}

section#header h2 {
  font-family: 'Cutive Mono', monospace;
  font-size: 1em;
  text-align: center;
}

section#header p {
    text-align: center;
    margin-top: 5px;
}

section#header p a {
    padding: 5px 10px;
    font-size: 0.9em;
}

section#footer {
    margin: 40px 0;
    text-align: center;
}

section.summary {
  padding: 0 0 0 10px;
  border-left: 1px solid black;
  margin: 0 0 60px 0;
}

@media(max-width: 600px) {
  section.summary {
    padding: 0 0 0 0;
    border-left: 0px solid black;
  }
}

section.summary article {
  margin: 15px 0 0 0;
}

section h2 {
  font-size: 1.3em;
  font-family: 'Lobster', cursive;
}

section h2 a {
  color: #000;
}

section time {
  margin: 0 0 0 2px;
  font-size: 0.7em;
  font-weight: 600;
}

section article {
  margin: 15px 0 0 0;
}

section#paginator {
  margin: 0 0 20px 0;
  font-family: 'Lobster', cursive;
  display: inline-block;
}

section#paginator a, section#paginator span {
    color: black;
    float: left;
    padding: 5px;
    margin: 0 4px;
    text-decoration: none;
}

section#paginator a.selected {
    color: #C0C0C0;
}

#post {
  margin: 0 0 100px 0;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin: 10px;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.social-links {
    font-size: 25px;
}

.social-links a {
    margin: 0 5px;
}

.back-link {
    margin-top: 1.5em;
    font-size: 0.8em;
}

.contact p{
    font-family: 'Quicksand', sans-serif;
    font-size: 0.8em;
}

img {
    max-width: 100%;
    border: 1px solid grey;
}

code {
    font-family: 'Cutive Mono', monospace;
}

ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

li {
    margin-bottom: 0.4em;
}

ul li p {
    margin: 0;
}

ul ul {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

iframe {
    width: 100%;
}

.strong {
    font-weight: bold !important;
}

.book {
    float: left;
    max-width: 180px;
    margin: 0 8px 5px 0;
    border: 1px solid grey;
}
