@import 'https://fonts.googleapis.com/css?family=Alice|Courier+Prime|Signika:300';
@import "_font_awesome";
@import "_reset.min";   // browser reset
@import "_default.min"; // highlight js

:root {
    --primary-color: #050506;
    --hover-color: #C0C0C0;
    --highlight-color: #00adb5;

    --table-border: #DDDDDD;
    --table-background: #f9f9f9;

    --header-font: 'Alice', cursive;
    --body-font: 'Signika', sans-serif;
    --code-font: 'Courier Prime', monospace;
}

body {
  color: var(--primary-color);
  width: 600px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
  font-family: var(--body-font);
}

@media(max-width: 600px) {
  body {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
  }
}

@media(max-width: 400px) {
    section#footer {
        .social-links {
            font-size: 20px;
        }
    }
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:visited {
  color: var(--primary-color);
}

a:hover {
  color: var(--hover-color);
}

p {
  line-height: 1.5;
  text-align: justify;
  margin: 0.5em 0 0.8em 0;
}

p strong {
    font-weight: bold;
}

section#header {
    margin: 30px 0;
    position: relative;
}

section#header h1 {
  text-align: center;
  font-family: var(--header-font);
  font-size: 2em;
  margin: 0 0 9px 0;
  font-weight: bold;
  text-shadow: 1px 3px 3px var(--hover-color);
}

section#header h2 {
  font-family: var(--body-font);
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  color: var(--primary-color)
}

section#header p {
    text-align: center;
    margin-top: 5px;
}

section#header p a {
    padding: 5px 10px;
    font-size: 0.9em;
}

section#header p a.selected {
    font-style: italic;
    font-weight: bold;
}

section#footer {
    margin: 40px 0;
    text-align: center;
}

section.summary {
  padding: 0 0 0 10px;
  border-left: 1px solid black;
  margin: 0 0 60px 0;
}

@media(max-width: 600px) {
  section.summary {
    padding: 0 0 0 0;
    border-left: 0px solid black;
  }
  .profile-img {
      max-width: 100% !important;
  }
}


section.summary article {
  margin: 15px 0 0 0;
}

section h2 {
  font-size: 1.3em;
  font-family: var(--header-font);
  font-weight: bold;
}

section h2 a {
  color: var(--primary-color);
}

section time {
  margin: 0 0 0 2px;
  font-size: 0.7em;
  font-weight: 600;
}

section article {
  margin: 15px 0 0 0;
}

section#paginator {
  margin: 0 0 20px 0;
  font-family: var(--header-font);
  display: flex;
  justify-content: center;
}

section#paginator a, section#paginator span {
    color: black;
    float: left;
    padding: 5px;
    margin: 0 4px;
    text-decoration: none;
}

section#paginator a.selected {
    color: var(--hover-color);
}

#post {
  margin: 0 0 100px 0;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin: 10px;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.social-links {
    font-size: 25px;
}

.social-links a {
    margin: 0 5px;
}

.back-link * {
    margin-top: 1.5em;
    font-size: 0.8em;
    font-family: var(--header-font);
}

.contact p{
    font-family: var(--body-font);
}

img {
    width: 100%;
}

code {
    font-family: var(--code-font);
    line-height: 1.5;
    font-size: 0.9em;
}

ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

li {
    margin-bottom: 0.4em;
}

ul li p {
    margin: 0;
}

ul ul {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

iframe {
    width: 100%;
}

.strong {
    font-weight: bold !important;
}

.book {
    float: left;
    max-width: 180px;
    margin: 0 8px 5px 0;
    border: 1px solid grey;
}

.profile-img {
    float: left;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    max-width: 40%;
    display: block;
    vertical-align: middle;
    height: auto;
    margin: 0 15px 10px 0;
}

blockquote {
    font-style: italic;
    margin: 0 1em;
    font-size: 0.8em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    font-size: 0.9em;
    width: 100%;
    margin-bottom: 1.1em;
}

tr, td, th {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
    font-family: inherit;
    text-align: left;
}

table tbody > tr:nth-child(odd) > td {
    background: var(--table-background);
}

td, th {
    padding: 2%;
    margin: 0;
    overflow: visible;
    line-height: 120%;
    border-bottom: 1px solid var(--table-border);
}

.category-tags {
    font-size: 0.9em;
    font-style: italic;
    margin-top: 1.5em;
}

.category-tags span {
    margin-right: 0.5em;
}

.category-tags span:hover {
    color: var(--hover-color);
}

.header-icons {
    position: absolute;
    font-size: 0.9em;
    right: 0;
}

.header-logo {
    width: 300px;
    filter: drop-shadow(2px 4px 4px var(--primary-color));
}

.newsletter {
    margin: 1.8em 0;
}

.newsletter .email {
    width: 300px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid var(--hover-color);
    font-family: var(--body-font);
}

.newsletter .submit-btn {
    padding: 10px;
    font-size: 1em;
    border: 1px solid var(--hover-color);
    cursor: pointer;
    font-family: var(--body-font);
}

.newsletter .submit-btn:hover {
    color: var(--hover-color);
}

.license {
    margin-top: 2em;
    font-size: 0.8em;
    font-style: italic;
}
