name: Build & Publish

on:
  push:
    branches:
      - develop
  schedule:
    - cron: "0 2 * * 1-5"

jobs:
  build-site:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Setup PHP 8.4
      uses: shivammathur/setup-php@v2
      with:
        php-version: 8.4
        tools: composer:v2
    - name: Setup Node 23
      uses: actions/setup-node@v4
      with:
        node-version: 23
    - name: Install Composer Dependencies
      run: composer install --no-ansi --no-interaction --no-progress
    - name: Install NPM Dependencies
      run: npm ci
    - name: Build assets
      run: npm run build
    - name: Build Jigsaw site
      run: ./vendor/bin/jigsaw build production
    - name: Create CNAME File
      run: echo "milon.im" >> build_production/CNAME
    - name: Stage Files
      run: git add -f build_production
    - name: Commit files
      run: |
        git config --local user.email "actions@github.com"
        git config --local user.name "GitHub Actions"
        git commit -m "Build for deploy"
    - name: Publish
      run: |
        git subtree split --prefix build_production -b master
        git push -f origin master:master
        git branch -D master
